@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-neutral-950;
}

.bigsidebar {
  height: 92vh;
  min-width: 15rem;
}
@media (max-width: 768px) {
  .bigsidebar {
    min-width: 12rem;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5rem;
}
.videodiv {
  height: 70vh;
}

.channelpage {
  width: 85vw;
}
.more-video-container {
  max-width: 30rem;
}

.channelvideo {
  min-width: 24rem;
}
.clearall {
  min-width: 7rem;
}
.more-videos {
  max-width: 15rem;
}
@media (min-width: 1536px) {
  .more-video-container {
    min-width: 30rem;
  }
  .more-videos {
    min-width: 15rem;
  }
  .history {
    width: 85vw;
  }
}

.homevideo {
  min-width: 24rem;
}
.video {
  min-width: 60rem;
}
